In [1]:
import numpy as np
import pandas as pd

In [2]:
from energy_consumption.help_functions import handle_outstanding_dp
from energy_consumption.models.seasonal_QR_hourly import get_seasonal_QR_hourly
from energy_consumption.models.seasonal_QR import get_seasonal_QR
from energy_consumption.help_functions.get_energy_data import get_data
from evaluation.help_functions.prepare_data import most_recent_wednesday

energydata = get_data()

100%|██████████| 101/101 [00:59<00:00,  1.71it/s]

In [3]:
energydata

                     energy_consumption
date_time
2021-12-20 00:00:00            49.57150
2021-12-20 01:00:00            47.99850
2021-12-20 02:00:00            47.46700
2021-12-20 03:00:00            47.96675
2021-12-20 04:00:00            49.45700
...                                 ...
2023-11-22 08:00:00            65.75125
2023-11-22 09:00:00            67.40950
2023-11-22 10:00:00            68.26775
2023-11-22 11:00:00            69.76200
2023-11-22 12:00:00            69.99975

[16861 rows x 1 columns]

In [4]:
# make sure last energy value is on wednesday, 12:00 AM
start_date = most_recent_wednesday(energydata)

# set last timestamp 
energydata_wed12 = energydata.loc[energydata.index <= start_date]
energydata_wed12

                     energy_consumption
date_time
2021-12-20 00:00:00            49.57150
2021-12-20 01:00:00            47.99850
2021-12-20 02:00:00            47.46700
2021-12-20 03:00:00            47.96675
2021-12-20 04:00:00            49.45700
...                                 ...
2023-11-22 08:00:00            65.75125
2023-11-22 09:00:00            67.40950
2023-11-22 10:00:00            68.26775
2023-11-22 11:00:00            69.76200
2023-11-22 12:00:00            69.99975

[16861 rows x 1 columns]

In [5]:
energy_forecasts_m2 = get_seasonal_QR(energydata)
energy_forecasts_m2

,date_time,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-11-24 12:00:00,2023-11-24,energy,36 hour,44.807750,53.000477,59.865001,63.504251,68.26325
1,2023-11-24 16:00:00,2023-11-24,energy,40 hour,44.807750,53.000477,59.865001,63.504251,68.26325
2,2023-11-24 20:00:00,2023-11-24,energy,44 hour,40.090751,48.826227,55.199266,58.553500,63.57025
3,2023-11-25 12:00:00,2023-11-24,energy,60 hour,44.807750,53.000477,59.865001,63.504251,68.26325
4,2023-11-25 16:00:00,2023-11-24,energy,64 hour,44.807750,53.000477,59.865001,63.504251,68.26325
5,2023-11-25 20:00:00,2023-11-24,energy,68 hour,40.090751,48.826227,55.199266,58.553500,63.57025

In [3]:
if 'date_time' in energy_forecasts_m2.columns:
    energy_forecasts_m2 = energy_forecasts_m2.drop(columns=['date_time'])
energy_forecasts_m2

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-11-23,energy,36 hour,44.781250,53.000499,59.865001,63.504255,68.26325
1,2023-11-23,energy,40 hour,40.090751,48.826250,55.199265,58.553504,63.57025
2,2023-11-23,energy,44 hour,35.766249,40.926000,43.832750,47.326500,63.90354
3,2023-11-23,energy,60 hour,44.781250,53.000499,59.865001,63.504255,68.26325
4,2023-11-23,energy,64 hour,40.090751,48.826250,55.199265,58.553504,63.57025
5,2023-11-23,energy,68 hour,35.766249,40.926000,43.832750,47.326500,63.90354

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [2]:
from dax.models.garch11_norm import get_garch_11_norm
df_sub_dax = get_garch_11_norm()
df_sub_dax

Iteration:      1,   Func. Count:      5,   Neg. LLF: 2627.2361910951313
Iteration:      2,   Func. Count:     14,   Neg. LLF: 2092.3311985468636
Iteration:      3,   Func. Count:     20,   Neg. LLF: 2158.591735421752
Iteration:      4,   Func. Count:     25,   Neg. LLF: 1688.2271775956897
Iteration:      5,   Func. Count:     30,   Neg. LLF: 1684.6711763640203
Iteration:      6,   Func. Count:     34,   Neg. LLF: 1684.6453940433835
Iteration:      7,   Func. Count:     38,   Neg. LLF: 1684.6450883583327
Iteration:      8,   Func. Count:     42,   Neg. LLF: 1684.645087488748
Optimization terminated successfully    (Exit mode 0)
            Current function value: 1684.645087488748
            Iterations: 8
            Function evaluations: 42
            Gradient evaluations: 8
Iteration:      1,   Func. Count:      5,   Neg. LLF: 6138.250953446583
Iteration:      2,   Func. Count:     15,   Neg. LLF: 2701.844496413176
Iteration:      3,   Func. Count:     21,   Neg. LLF: 2201.7823472860127
Iteration:      4,   Func. Count:     26,   Neg. LLF: 1987.9036082863731
Iteration:      5,   Func. Count:     30,   Neg. LLF: 1986.7848281792055
Iteration:      6,   Func. Count:     34,   Neg. LLF: 1986.4689671772185
Iteration:      7,   Func. Count:     38,   Neg. LLF: 1986.0422568662716
Iteration:      8,   Func. Count:     42,   Neg. LLF: 1985.9700447928649
Iteration:      9,   Func. Count:     46,   Neg. LLF: 1985.962206709757
Iteration:     10,   Func. Count:     50,   Neg. LLF: 1985.9619452617326
Iteration:     11,   Func. Count:     54,   Neg. LLF: 1985.9617294193697
Iteration:     12,   Func. Count:     58,   Neg. LLF: 1985.9616868020705
Iteration:     13,   Func. Count:     62,   Neg. LLF: 1985.961682340343
Iteration:     14,   Func. Count:     65,   Neg. LLF: 1985.9616823406413
Optimization terminated successfully    (Exit mode 0)
            Current function value: 1985.961682340343
            Iterations: 14
            Function evaluations: 65
            Gradient evaluations: 14
Iteration:      1,   Func. Count:      5,   Neg. LLF: 3249.654282571844
Iteration:      2,   Func. Count:     15,   Neg. LLF: 2992.6458757632818
Iteration:      3,   Func. Count:     21,   Neg. LLF: 2297.6772596295677
Iteration:      4,   Func. Count:     26,   Neg. LLF: 2174.957676020415
Iteration:      5,   Func. Count:     30,   Neg. LLF: 2174.5450675046477
Iteration:      6,   Func. Count:     34,   Neg. LLF: 2174.3489299495905
Iteration:      7,   Func. Count:     38,   Neg. LLF: 2174.253772259929
Iteration:      8,   Func. Count:     42,   Neg. LLF: 2174.2284565744217
Iteration:      9,   Func. Count:     46,   Neg. LLF: 2174.226643034852
Iteration:     10,   Func. Count:     50,   Neg. LLF: 2174.2265125133795
Iteration:     11,   Func. Count:     54,   Neg. LLF: 2174.226496936632
Iteration:     12,   Func. Count:     57,   Neg. LLF: 2174.2264969365306
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2174.226496936632
            Iterations: 12
            Function evaluations: 57
            Gradient evaluations: 12
Iteration:      1,   Func. Count:      5,   Neg. LLF: 583542906.3997742
Iteration:      2,   Func. Count:     11,   Neg. LLF: 2375.6317395480532
Iteration:      3,   Func. Count:     16,   Neg. LLF: 2938.9485912023983
Iteration:      4,   Func. Count:     21,   Neg. LLF: 2248.2416244819087
Iteration:      5,   Func. Count:     25,   Neg. LLF: 2247.6092556398503
Iteration:      6,   Func. Count:     29,   Neg. LLF: 2247.462382770089
Iteration:      7,   Func. Count:     33,   Neg. LLF: 2247.426528392303
Iteration:      8,   Func. Count:     37,   Neg. LLF: 2247.4240469677698
Iteration:      9,   Func. Count:     41,   Neg. LLF: 2247.423948287922
Iteration:     10,   Func. Count:     45,   Neg. LLF: 2247.4239445267685
Iteration:     11,   Func. Count:     48,   Neg. LLF: 2247.423944526884
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2247.4239445267685
            Iterations: 11
            Function evaluations: 48
            Gradient evaluations: 11
Iteration:      1,   Func. Count:      5,   Neg. LLF: 582664533.9459937
Iteration:      2,   Func. Count:     11,   Neg. LLF: 2429.9558542415884
Iteration:      3,   Func. Count:     16,   Neg. LLF: 2451.9421432168474
Iteration:      4,   Func. Count:     22,   Neg. LLF: 2310.918529789345
Iteration:      5,   Func. Count:     27,   Neg. LLF: 2307.4980352209845
Iteration:      6,   Func. Count:     31,   Neg. LLF: 2306.6491020750555
Iteration:      7,   Func. Count:     35,   Neg. LLF: 2306.5316203545735
Iteration:      8,   Func. Count:     39,   Neg. LLF: 2306.5112777284585
Iteration:      9,   Func. Count:     43,   Neg. LLF: 2306.5099880555886
Iteration:     10,   Func. Count:     47,   Neg. LLF: 2306.5098779491827
Iteration:     11,   Func. Count:     51,   Neg. LLF: 2306.5098748815262
Iteration:     12,   Func. Count:     54,   Neg. LLF: 2306.509874881559
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2306.5098748815262
            Iterations: 12
            Function evaluations: 54
            Gradient evaluations: 12

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
date_time,,,,,,,,
2023-11-23,2023-11-22,DAX,1 day,-1.703159,-0.586115,0.0,0.586115,1.703159
2023-11-24,2023-11-22,DAX,2 day,-2.276355,-0.783371,0.0,0.783371,2.276355
2023-11-27,2023-11-22,DAX,5 day,-3.174876,-1.092582,0.0,1.092582,3.174876
2023-11-28,2023-11-22,DAX,6 day,-4.053553,-1.394964,0.0,1.394964,4.053553
2023-11-29,2023-11-22,DAX,7 day,-4.978062,-1.713119,0.0,1.713119,4.978062

In [3]:
from dax.models.garch11_t import get_garch_11_t
df_sub_dax = get_garch_11_t()
df_sub_dax

Iteration:      1,   Func. Count:      6,   Neg. LLF: 18782.929938468144
Iteration:      2,   Func. Count:     13,   Neg. LLF: 2689.396426270799
Iteration:      3,   Func. Count:     21,   Neg. LLF: 2872.2883131688286
Iteration:      4,   Func. Count:     27,   Neg. LLF: 2512.040632240171
Iteration:      5,   Func. Count:     33,   Neg. LLF: 1633.5781288697367
Iteration:      6,   Func. Count:     39,   Neg. LLF: 1655.1444975931322
Iteration:      7,   Func. Count:     45,   Neg. LLF: 1631.0196478993641
Iteration:      8,   Func. Count:     50,   Neg. LLF: 1630.9670678627122
Iteration:      9,   Func. Count:     55,   Neg. LLF: 1630.9531726086493
Iteration:     10,   Func. Count:     60,   Neg. LLF: 1630.9463208455136
Iteration:     11,   Func. Count:     65,   Neg. LLF: 1630.9462284599172
Iteration:     12,   Func. Count:     70,   Neg. LLF: 1630.9462256026227
Iteration:     13,   Func. Count:     74,   Neg. LLF: 1630.9462256026231
Optimization terminated successfully    (Exit mode 0)
            Current function value: 1630.9462256026227
            Iterations: 13
            Function evaluations: 74
            Gradient evaluations: 13
Iteration:      1,   Func. Count:      6,   Neg. LLF: 2907.5731482996516
Iteration:      2,   Func. Count:     17,   Neg. LLF: 2260.229814894826
Iteration:      3,   Func. Count:     24,   Neg. LLF: 2076.0970502299547
Iteration:      4,   Func. Count:     30,   Neg. LLF: 1970.1094200142936
Iteration:      5,   Func. Count:     35,   Neg. LLF: 1969.5566638912671
Iteration:      6,   Func. Count:     40,   Neg. LLF: 1969.4027713262717
Iteration:      7,   Func. Count:     45,   Neg. LLF: 1969.3079311511885
Iteration:      8,   Func. Count:     50,   Neg. LLF: 1969.2847062219091
Iteration:      9,   Func. Count:     55,   Neg. LLF: 1969.2812330605652
Iteration:     10,   Func. Count:     60,   Neg. LLF: 1969.2802584982787
Iteration:     11,   Func. Count:     65,   Neg. LLF: 1969.2799278458583
Iteration:     12,   Func. Count:     70,   Neg. LLF: 1969.2798707137863
Iteration:     13,   Func. Count:     75,   Neg. LLF: 1969.2798626320623
Iteration:     14,   Func. Count:     80,   Neg. LLF: 1969.2798620642761
Optimization terminated successfully    (Exit mode 0)
            Current function value: 1969.2798620642761
            Iterations: 14
            Function evaluations: 80
            Gradient evaluations: 14
Iteration:      1,   Func. Count:      6,   Neg. LLF: 3032.8268539110545
Iteration:      2,   Func. Count:     16,   Neg. LLF: 2232.8181654765485
Iteration:      3,   Func. Count:     22,   Neg. LLF: 2501.102302185705
Iteration:      4,   Func. Count:     28,   Neg. LLF: 2193.0021170251225
Iteration:      5,   Func. Count:     34,   Neg. LLF: 2154.990429629785
Iteration:      6,   Func. Count:     39,   Neg. LLF: 2153.9391983971145
Iteration:      7,   Func. Count:     44,   Neg. LLF: 2153.660014692801
Iteration:      8,   Func. Count:     49,   Neg. LLF: 2153.4849207072793
Iteration:      9,   Func. Count:     54,   Neg. LLF: 2153.4388093923208
Iteration:     10,   Func. Count:     59,   Neg. LLF: 2153.432148333484
Iteration:     11,   Func. Count:     64,   Neg. LLF: 2153.4307562638696
Iteration:     12,   Func. Count:     69,   Neg. LLF: 2153.4303064641435
Iteration:     13,   Func. Count:     74,   Neg. LLF: 2153.4302715384147
Iteration:     14,   Func. Count:     79,   Neg. LLF: 2153.4302701709166
Iteration:     15,   Func. Count:     83,   Neg. LLF: 2153.4302701709157
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2153.4302701709166
            Iterations: 15
            Function evaluations: 83
            Gradient evaluations: 15
Iteration:      1,   Func. Count:      6,   Neg. LLF: 3928.564876472225
Iteration:      2,   Func. Count:     12,   Neg. LLF: 2257.0176637424966
Iteration:      3,   Func. Count:     18,   Neg. LLF: 2800.4278514330354
Iteration:      4,   Func. Count:     25,   Neg. LLF: 2294.927090811735
Iteration:      5,   Func. Count:     31,   Neg. LLF: 2236.183283174286
Iteration:      6,   Func. Count:     36,   Neg. LLF: 2236.1319993081543
Iteration:      7,   Func. Count:     41,   Neg. LLF: 2235.916947791331
Iteration:      8,   Func. Count:     46,   Neg. LLF: 2235.773948182082
Iteration:      9,   Func. Count:     51,   Neg. LLF: 2235.7115028617236
Iteration:     10,   Func. Count:     56,   Neg. LLF: 2235.6702218431446
Iteration:     11,   Func. Count:     61,   Neg. LLF: 2235.6618735964034
Iteration:     12,   Func. Count:     66,   Neg. LLF: 2235.6617464180326
Iteration:     13,   Func. Count:     71,   Neg. LLF: 2235.6617420915827
Iteration:     14,   Func. Count:     75,   Neg. LLF: 2235.661742091584
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2235.6617420915827
            Iterations: 14
            Function evaluations: 75
            Gradient evaluations: 14
Iteration:      1,   Func. Count:      6,   Neg. LLF: 67190.51896824589
Iteration:      2,   Func. Count:     13,   Neg. LLF: 2355.3578386803015
Iteration:      3,   Func. Count:     19,   Neg. LLF: 2376.0629792676677
Iteration:      4,   Func. Count:     26,   Neg. LLF: 2305.81131795725
Iteration:      5,   Func. Count:     31,   Neg. LLF: 2304.471138694958
Iteration:      6,   Func. Count:     36,   Neg. LLF: 2303.810208440775
Iteration:      7,   Func. Count:     41,   Neg. LLF: 2303.668819536361
Iteration:      8,   Func. Count:     46,   Neg. LLF: 2303.6548397188444
Iteration:      9,   Func. Count:     51,   Neg. LLF: 2303.6541061027665
Iteration:     10,   Func. Count:     56,   Neg. LLF: 2303.6530586175713
Iteration:     11,   Func. Count:     61,   Neg. LLF: 2303.6506361170023
Iteration:     12,   Func. Count:     66,   Neg. LLF: 2303.648743811512
Iteration:     13,   Func. Count:     71,   Neg. LLF: 2303.6474450751807
Iteration:     14,   Func. Count:     76,   Neg. LLF: 2303.647354138898
Iteration:     15,   Func. Count:     81,   Neg. LLF: 2303.6473441434855
Iteration:     16,   Func. Count:     85,   Neg. LLF: 2303.6473441434837
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2303.6473441434855
            Iterations: 16
            Function evaluations: 85
            Gradient evaluations: 16

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
date_time,,,,,,,,
2023-11-23,2023-11-22,DAX,1 day,-2.425570,-0.647091,6.169109e-17,0.647091,2.425570
2023-11-24,2023-11-22,DAX,2 day,-2.738035,-0.823442,7.964734e-17,0.823442,2.738035
2023-11-27,2023-11-22,DAX,5 day,-4.007228,-1.175122,1.133115e-16,1.175122,4.007228
2023-11-28,2023-11-22,DAX,6 day,-4.927023,-1.530543,1.486406e-16,1.530543,4.927023
2023-11-29,2023-11-22,DAX,7 day,-5.499730,-1.801978,1.761963e-16,1.801978,5.499730

In [5]:
from datetime import datetime
import pandas as pd 

weeks = ['0 week', '1 week', '2 week', '3 week', '4 week']
date_st = (datetime.today().strftime('%Y-%m-%d'))

df_sub_inf = pd.DataFrame({
    "forecast_date": date_st,
    "target": "infections",
    "horizon": weeks,
    "q0.025": np.nan,
    "q0.25": np.nan,
    "q0.5": np.nan,
    "q0.75": np.nan,
    "q0.975": np.nan})

In [6]:

submission_frame = pd.merge(df_sub2_dax, energy_forecasts_m1, how='outer')
submission_frame = pd.merge(submission_frame, df_sub_inf, how='outer')

In [7]:
submission_frame

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-11-22,DAX,1 day,-1.683155,-0.579231,0.000000,0.579231,1.683155
1,2023-11-22,DAX,2 day,-1.705077,-0.586774,0.000000,0.586774,1.705077
2,2023-11-22,DAX,5 day,-1.726114,-0.594014,0.000000,0.594014,1.726114
3,2023-11-22,DAX,6 day,-1.746314,-0.600966,0.000000,0.600966,1.746314
4,2023-11-22,DAX,7 day,-1.765724,-0.607645,0.000000,0.607645,1.765724
5,2023-11-22,energy,36 hour,51.768500,58.648752,61.206631,63.962502,68.327750
6,2023-11-22,energy,40 hour,47.188250,54.448888,56.939760,59.434001,63.865750
7,2023-11-22,energy,44 hour,38.962261,43.626750,46.693379,50.799008,63.869739
8,2023-11-22,energy,60 hour,51.768500,58.648752,61.206631,63.962502,68.327750
9,2023-11-22,energy,64 hour,47.188250,54.448888,56.939760,59.434001,63.865750
10,2023-11-22,energy,68 hour,33.880761,35.662359,38.690627,42.252502,52.756365
11,2023-11-22,infections,0 week,NaN,NaN,NaN,NaN,NaN
12,2023-11-22,infections,1 week,NaN,NaN,NaN,NaN,NaN
13,2023-11-22,infections,2 week,NaN,NaN,NaN,NaN,NaN
14,2023-11-22,infections,3 week,NaN,NaN,NaN,NaN,NaN
15,2023-11-22,infections,4 week,NaN,NaN,NaN,NaN,NaN

In [8]:
date_string = date_st
date_obj = datetime.strptime(date_string, "%Y-%m-%d")
formatted_date = date_obj.strftime("%Y%m%d")

submission_frame.to_csv(
    str('C:/Users/Maria/Documents/Studium/Pyhton Projekte/PTSFC/submission_files/' +
        formatted_date + '_BrienneVonTarth'),
    index=False, na_rep="NA")