In [1]:
import numpy as np
import pandas as pd

In [2]:
from energy_consumption.help_functions.get_energy_data import get_data
from energy_consumption.models.combination.combined_DEMO import get_combined_DEMO
from dax.models.combination.combined_models import combine_models

In [3]:
energydata = get_data()

100%|██████████| 105/105 [01:45<00:00,  1.00s/it]

In [4]:
energydata

                     energy_consumption
date_time
2021-12-20 00:00:00            49.57150
2021-12-20 01:00:00            47.99850
2021-12-20 02:00:00            47.46700
2021-12-20 03:00:00            47.96675
2021-12-20 04:00:00            49.45700
...                                 ...
2023-12-20 08:00:00            64.60250
2023-12-20 09:00:00            64.98025
2023-12-20 10:00:00            65.30475
2023-12-20 11:00:00            65.87550
2023-12-20 12:00:00            65.76050

[17533 rows x 1 columns]

In [5]:
energy_forecasts_combined = get_combined_DEMO(energydata)
energy_forecasts_combined

,date_time,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-12-22 12:00:00,2023-12-20,energy,36 hour,50.094158,59.775185,66.540559,71.269432,80.244584
1,2023-12-22 16:00:00,2023-12-20,energy,40 hour,47.626871,58.355944,64.800736,69.791402,78.962972
2,2023-12-22 20:00:00,2023-12-20,energy,44 hour,43.432750,54.944250,62.216000,65.894749,71.890500
3,2023-12-23 12:00:00,2023-12-20,energy,60 hour,51.699001,59.811392,67.665564,71.270569,77.156752
4,2023-12-23 16:00:00,2023-12-20,energy,64 hour,48.625750,57.139997,63.551242,67.512671,73.723250
5,2023-12-23 20:00:00,2023-12-20,energy,68 hour,50.521501,56.481831,61.720256,65.149671,70.587499

In [6]:
if 'date_time' in energy_forecasts_combined.columns:
    energy_forecasts_m2 = energy_forecasts_combined.drop(columns=['date_time'])
energy_forecasts_m2

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-12-20,energy,36 hour,50.094158,59.775185,66.540559,71.269432,80.244584
1,2023-12-20,energy,40 hour,47.626871,58.355944,64.800736,69.791402,78.962972
2,2023-12-20,energy,44 hour,43.432750,54.944250,62.216000,65.894749,71.890500
3,2023-12-20,energy,60 hour,51.699001,59.811392,67.665564,71.270569,77.156752
4,2023-12-20,energy,64 hour,48.625750,57.139997,63.551242,67.512671,73.723250
5,2023-12-20,energy,68 hour,50.521501,56.481831,61.720256,65.149671,70.587499

In [7]:
df_sub_dax = combine_models()
df_sub_dax

Iteration:      1,   Func. Count:      6,   Neg. LLF: 18576.170034841925
Iteration:      2,   Func. Count:     13,   Neg. LLF: 2967.790129449366
Iteration:      3,   Func. Count:     20,   Neg. LLF: 2671.314451227787
Iteration:      4,   Func. Count:     27,   Neg. LLF: 2511.0140979550793
Iteration:      5,   Func. Count:     33,   Neg. LLF: 1695.4140701473061
Iteration:      6,   Func. Count:     39,   Neg. LLF: 1647.9012053174101
Iteration:      7,   Func. Count:     45,   Neg. LLF: 1644.7048837377783
Iteration:      8,   Func. Count:     50,   Neg. LLF: 1644.6476820020368
Iteration:      9,   Func. Count:     55,   Neg. LLF: 1644.5807140329505
Iteration:     10,   Func. Count:     60,   Neg. LLF: 1644.5703033223144
Iteration:     11,   Func. Count:     65,   Neg. LLF: 1644.5678473796006
Iteration:     12,   Func. Count:     70,   Neg. LLF: 1644.567738904222
Iteration:     13,   Func. Count:     74,   Neg. LLF: 1644.5677389042094
Optimization terminated successfully    (Exit mode 0)
            Current function value: 1644.567738904222
            Iterations: 13
            Function evaluations: 74
            Gradient evaluations: 13
Iteration:      1,   Func. Count:      6,   Neg. LLF: 2942.5492325441446
Iteration:      2,   Func. Count:     17,   Neg. LLF: 2283.162428971573
Iteration:      3,   Func. Count:     24,   Neg. LLF: 2096.9848592898993
Iteration:      4,   Func. Count:     30,   Neg. LLF: 1990.3804150219635
Iteration:      5,   Func. Count:     35,   Neg. LLF: 1989.8520211018285
Iteration:      6,   Func. Count:     40,   Neg. LLF: 1989.6620329674083
Iteration:      7,   Func. Count:     45,   Neg. LLF: 1989.5418960694992
Iteration:      8,   Func. Count:     50,   Neg. LLF: 1989.5169610961545
Iteration:      9,   Func. Count:     55,   Neg. LLF: 1989.5136047125231
Iteration:     10,   Func. Count:     60,   Neg. LLF: 1989.5133200532405
Iteration:     11,   Func. Count:     65,   Neg. LLF: 1989.5132711546999
Iteration:     12,   Func. Count:     70,   Neg. LLF: 1989.5132634008817
Iteration:     13,   Func. Count:     75,   Neg. LLF: 1989.5132607694545
Iteration:     14,   Func. Count:     79,   Neg. LLF: 1989.51326076945
Optimization terminated successfully    (Exit mode 0)
            Current function value: 1989.5132607694545
            Iterations: 14
            Function evaluations: 79
            Gradient evaluations: 14
Iteration:      1,   Func. Count:      6,   Neg. LLF: 3095.059497928012
Iteration:      2,   Func. Count:     16,   Neg. LLF: 2256.3563840220204
Iteration:      3,   Func. Count:     22,   Neg. LLF: 2525.985662847096
Iteration:      4,   Func. Count:     28,   Neg. LLF: 2217.2311576751413
Iteration:      5,   Func. Count:     34,   Neg. LLF: 2179.468462030541
Iteration:      6,   Func. Count:     39,   Neg. LLF: 2178.4066766592305
Iteration:      7,   Func. Count:     44,   Neg. LLF: 2178.1054923017255
Iteration:      8,   Func. Count:     49,   Neg. LLF: 2177.9395936903115
Iteration:      9,   Func. Count:     54,   Neg. LLF: 2177.8971255510805
Iteration:     10,   Func. Count:     59,   Neg. LLF: 2177.8905644993883
Iteration:     11,   Func. Count:     64,   Neg. LLF: 2177.8890961481075
Iteration:     12,   Func. Count:     69,   Neg. LLF: 2177.8886971510756
Iteration:     13,   Func. Count:     74,   Neg. LLF: 2177.8886660898843
Iteration:     14,   Func. Count:     79,   Neg. LLF: 2177.888665102926
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2177.888665102926
            Iterations: 14
            Function evaluations: 79
            Gradient evaluations: 14
Iteration:      1,   Func. Count:      6,   Neg. LLF: 3962.9371816923112
Iteration:      2,   Func. Count:     12,   Neg. LLF: 2284.909004116453
Iteration:      3,   Func. Count:     18,   Neg. LLF: 2837.7150056650344
Iteration:      4,   Func. Count:     25,   Neg. LLF: 2323.20587580756
Iteration:      5,   Func. Count:     31,   Neg. LLF: 2263.7459937658914
Iteration:      6,   Func. Count:     36,   Neg. LLF: 2263.7129151754593
Iteration:      7,   Func. Count:     41,   Neg. LLF: 2263.502284874683
Iteration:      8,   Func. Count:     46,   Neg. LLF: 2263.3552123478935
Iteration:      9,   Func. Count:     51,   Neg. LLF: 2263.290647013758
Iteration:     10,   Func. Count:     56,   Neg. LLF: 2263.2565455298472
Iteration:     11,   Func. Count:     61,   Neg. LLF: 2263.24540717702
Iteration:     12,   Func. Count:     66,   Neg. LLF: 2263.2453689580093
Iteration:     13,   Func. Count:     71,   Neg. LLF: 2263.245368372638
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2263.245368372638
            Iterations: 13
            Function evaluations: 71
            Gradient evaluations: 13
Iteration:      1,   Func. Count:      6,   Neg. LLF: 68319.65367707126
Iteration:      2,   Func. Count:     13,   Neg. LLF: 2386.4317470053734
Iteration:      3,   Func. Count:     19,   Neg. LLF: 2409.630777351039
Iteration:      4,   Func. Count:     26,   Neg. LLF: 2336.3848987203182
Iteration:      5,   Func. Count:     31,   Neg. LLF: 2334.675133403074
Iteration:      6,   Func. Count:     36,   Neg. LLF: 2334.0408355157388
Iteration:      7,   Func. Count:     41,   Neg. LLF: 2333.8160671749924
Iteration:      8,   Func. Count:     46,   Neg. LLF: 2333.789439870082
Iteration:      9,   Func. Count:     51,   Neg. LLF: 2333.7883716179795
Iteration:     10,   Func. Count:     56,   Neg. LLF: 2333.7877421798485
Iteration:     11,   Func. Count:     61,   Neg. LLF: 2333.7859328386776
Iteration:     12,   Func. Count:     66,   Neg. LLF: 2333.783785147857
Iteration:     13,   Func. Count:     71,   Neg. LLF: 2333.7824917328453
Iteration:     14,   Func. Count:     76,   Neg. LLF: 2333.7822088659436
Iteration:     15,   Func. Count:     81,   Neg. LLF: 2333.7821914890587
Iteration:     16,   Func. Count:     85,   Neg. LLF: 2333.7821914890606
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2333.7821914890587
            Iterations: 16
            Function evaluations: 85
            Gradient evaluations: 16

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
date_time,,,,,,,,
2023-12-14,2023-12-13,DAX,1 day,-2.706782,-0.498470,0.043790,0.642016,2.378592
2023-12-15,2023-12-13,DAX,2 day,-3.259768,-0.696404,0.091125,0.847436,3.031639
2023-12-18,2023-12-13,DAX,5 day,-4.404115,-0.828107,0.180398,1.149895,4.043494
2023-12-19,2023-12-13,DAX,6 day,-5.139965,-0.979377,0.175206,1.381779,4.365581
2023-12-20,2023-12-13,DAX,7 day,-5.429263,-1.033091,0.273880,1.439632,4.837954

In [8]:
from datetime import datetime
import pandas as pd 

weeks = ['0 week', '1 week', '2 week', '3 week', '4 week']
date_st = (datetime.today().strftime('%Y-%m-%d'))

df_sub_inf = pd.DataFrame({
    "forecast_date": date_st,
    "target": "infections",
    "horizon": weeks,
    "q0.025": np.nan,
    "q0.25": np.nan,
    "q0.5": np.nan,
    "q0.75": np.nan,
    "q0.975": np.nan})

In [9]:
submission_frame = pd.merge(df_sub_dax, energy_forecasts_combined, how='outer')
submission_frame = pd.merge(submission_frame, df_sub_inf, how='outer')

In [10]:
submission_frame = submission_frame.drop(columns={'date_time'})

In [11]:
submission_frame

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-12-13,DAX,1 day,-2.706782,-0.498470,0.043790,0.642016,2.378592
1,2023-12-13,DAX,2 day,-3.259768,-0.696404,0.091125,0.847436,3.031639
2,2023-12-13,DAX,5 day,-4.404115,-0.828107,0.180398,1.149895,4.043494
3,2023-12-13,DAX,6 day,-5.139965,-0.979377,0.175206,1.381779,4.365581
4,2023-12-13,DAX,7 day,-5.429263,-1.033091,0.273880,1.439632,4.837954
5,2023-12-20,energy,36 hour,50.094158,59.775185,66.540559,71.269432,80.244584
6,2023-12-20,energy,40 hour,47.626871,58.355944,64.800736,69.791402,78.962972
7,2023-12-20,energy,44 hour,43.432750,54.944250,62.216000,65.894749,71.890500
8,2023-12-20,energy,60 hour,51.699001,59.811392,67.665564,71.270569,77.156752
9,2023-12-20,energy,64 hour,48.625750,57.139997,63.551242,67.512671,73.723250
10,2023-12-20,energy,68 hour,50.521501,56.481831,61.720256,65.149671,70.587499
11,2023-12-20,infections,0 week,NaN,NaN,NaN,NaN,NaN
12,2023-12-20,infections,1 week,NaN,NaN,NaN,NaN,NaN
13,2023-12-20,infections,2 week,NaN,NaN,NaN,NaN,NaN
14,2023-12-20,infections,3 week,NaN,NaN,NaN,NaN,NaN
15,2023-12-20,infections,4 week,NaN,NaN,NaN,NaN,NaN

In [12]:
date_string = date_st
date_obj = datetime.strptime(date_string, "%Y-%m-%d")
formatted_date = date_obj.strftime("%Y%m%d")

submission_frame.to_csv(
    str('C:/Users/Maria/Documents/Studium/Pyhton Projekte/PTSFC/submission_files/' +
        formatted_date + '_BrienneVonTarth'),
    index=False, na_rep="NA")