In [1]:
import numpy as np
import pandas as pd

In [6]:
from energy_consumption.help_functions.get_energy_data import get_data
from energy_consumption.models.combination.combined_DEMO import get_combined_DEMO
from dax.models.combination.combined_models import combine_models

In [5]:
energydata = get_data()

100%|██████████| 102/102 [01:20<00:00,  1.27it/s]

In [7]:
energydata

                     energy_consumption
date_time
2021-12-20 00:00:00            49.57150
2021-12-20 01:00:00            47.99850
2021-12-20 02:00:00            47.46700
2021-12-20 03:00:00            47.96675
2021-12-20 04:00:00            49.45700
...                                 ...
2023-11-29 08:00:00            69.82150
2023-11-29 09:00:00            70.45100
2023-11-29 10:00:00            70.71425
2023-11-29 11:00:00            71.35950
2023-11-29 12:00:00            70.18500

[17029 rows x 1 columns]

In [8]:
energy_forecasts_combined = get_combined_DEMO(energydata)
energy_forecasts_combined

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   q0.025  0 non-null      float64
 1   q0.25   0 non-null      float64
 2   q0.5    0 non-null      float64
 3   q0.75   0 non-null      float64
 4   q0.975  0 non-null      float64
dtypes: float64(5)
memory usage: 372.0 bytes
quantile_df info:  None

,date_time,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-12-01 12:00:00,2023-11-29,energy,36 hour,50.136784,59.921036,66.873869,71.630202,80.394829
1,2023-12-01 16:00:00,2023-11-29,energy,40 hour,47.688934,58.511046,64.927527,70.083383,79.159619
2,2023-12-01 20:00:00,2023-11-29,energy,44 hour,43.898750,55.132000,62.369188,66.619250,72.038999
3,2023-12-02 12:00:00,2023-11-29,energy,60 hour,31.234625,33.523500,42.579764,44.741250,45.100375
4,2023-12-02 16:00:00,2023-11-29,energy,64 hour,29.477625,33.266500,39.916514,42.125000,44.352125
5,2023-12-02 20:00:00,2023-11-29,energy,68 hour,29.343625,31.550750,36.499829,37.742750,39.628625

In [9]:
if 'date_time' in energy_forecasts_combined.columns:
    energy_forecasts_m2 = energy_forecasts_combined.drop(columns=['date_time'])
energy_forecasts_m2

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-11-29,energy,36 hour,50.136784,59.921036,66.873869,71.630202,80.394829
1,2023-11-29,energy,40 hour,47.688934,58.511046,64.927527,70.083383,79.159619
2,2023-11-29,energy,44 hour,43.898750,55.132000,62.369188,66.619250,72.038999
3,2023-11-29,energy,60 hour,31.234625,33.523500,42.579764,44.741250,45.100375
4,2023-11-29,energy,64 hour,29.477625,33.266500,39.916514,42.125000,44.352125
5,2023-11-29,energy,68 hour,29.343625,31.550750,36.499829,37.742750,39.628625

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [10]:
df_sub_dax = combine_models()
df_sub_dax

Iteration:      1,   Func. Count:      6,   Neg. LLF: 18782.929938468144
Iteration:      2,   Func. Count:     13,   Neg. LLF: 2689.396426270799
Iteration:      3,   Func. Count:     21,   Neg. LLF: 2872.2883131688286
Iteration:      4,   Func. Count:     27,   Neg. LLF: 2512.040632240171
Iteration:      5,   Func. Count:     33,   Neg. LLF: 1633.5781288697367
Iteration:      6,   Func. Count:     39,   Neg. LLF: 1655.1444975931322
Iteration:      7,   Func. Count:     45,   Neg. LLF: 1631.0196478993641
Iteration:      8,   Func. Count:     50,   Neg. LLF: 1630.9670678627122
Iteration:      9,   Func. Count:     55,   Neg. LLF: 1630.9531726086493
Iteration:     10,   Func. Count:     60,   Neg. LLF: 1630.9463208455136
Iteration:     11,   Func. Count:     65,   Neg. LLF: 1630.9462284599172
Iteration:     12,   Func. Count:     70,   Neg. LLF: 1630.9462256026227
Iteration:     13,   Func. Count:     74,   Neg. LLF: 1630.9462256026231
Optimization terminated successfully    (Exit mode 0)
            Current function value: 1630.9462256026227
            Iterations: 13
            Function evaluations: 74
            Gradient evaluations: 13
Iteration:      1,   Func. Count:      6,   Neg. LLF: 2907.5731482996516
Iteration:      2,   Func. Count:     17,   Neg. LLF: 2260.229814894826
Iteration:      3,   Func. Count:     24,   Neg. LLF: 2076.0970502299547
Iteration:      4,   Func. Count:     30,   Neg. LLF: 1970.1094200142936
Iteration:      5,   Func. Count:     35,   Neg. LLF: 1969.5566638912671
Iteration:      6,   Func. Count:     40,   Neg. LLF: 1969.4027713262717
Iteration:      7,   Func. Count:     45,   Neg. LLF: 1969.3079311511885
Iteration:      8,   Func. Count:     50,   Neg. LLF: 1969.2847062219091
Iteration:      9,   Func. Count:     55,   Neg. LLF: 1969.2812330605652
Iteration:     10,   Func. Count:     60,   Neg. LLF: 1969.2802584982787
Iteration:     11,   Func. Count:     65,   Neg. LLF: 1969.2799278458583
Iteration:     12,   Func. Count:     70,   Neg. LLF: 1969.2798707137863
Iteration:     13,   Func. Count:     75,   Neg. LLF: 1969.2798626320623
Iteration:     14,   Func. Count:     80,   Neg. LLF: 1969.2798620642761
Optimization terminated successfully    (Exit mode 0)
            Current function value: 1969.2798620642761
            Iterations: 14
            Function evaluations: 80
            Gradient evaluations: 14
Iteration:      1,   Func. Count:      6,   Neg. LLF: 3032.8268539110545
Iteration:      2,   Func. Count:     16,   Neg. LLF: 2232.8181654765485
Iteration:      3,   Func. Count:     22,   Neg. LLF: 2501.102302185705
Iteration:      4,   Func. Count:     28,   Neg. LLF: 2193.0021170251225
Iteration:      5,   Func. Count:     34,   Neg. LLF: 2154.990429629785
Iteration:      6,   Func. Count:     39,   Neg. LLF: 2153.9391983971145
Iteration:      7,   Func. Count:     44,   Neg. LLF: 2153.660014692801
Iteration:      8,   Func. Count:     49,   Neg. LLF: 2153.4849207072793
Iteration:      9,   Func. Count:     54,   Neg. LLF: 2153.4388093923208
Iteration:     10,   Func. Count:     59,   Neg. LLF: 2153.432148333484
Iteration:     11,   Func. Count:     64,   Neg. LLF: 2153.4307562638696
Iteration:     12,   Func. Count:     69,   Neg. LLF: 2153.4303064641435
Iteration:     13,   Func. Count:     74,   Neg. LLF: 2153.4302715384147
Iteration:     14,   Func. Count:     79,   Neg. LLF: 2153.4302701709166
Iteration:     15,   Func. Count:     83,   Neg. LLF: 2153.4302701709157
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2153.4302701709166
            Iterations: 15
            Function evaluations: 83
            Gradient evaluations: 15
Iteration:      1,   Func. Count:      6,   Neg. LLF: 3928.564876472225
Iteration:      2,   Func. Count:     12,   Neg. LLF: 2257.0176637424966
Iteration:      3,   Func. Count:     18,   Neg. LLF: 2800.4278514330354
Iteration:      4,   Func. Count:     25,   Neg. LLF: 2294.927090811735
Iteration:      5,   Func. Count:     31,   Neg. LLF: 2236.183283174286
Iteration:      6,   Func. Count:     36,   Neg. LLF: 2236.1319993081543
Iteration:      7,   Func. Count:     41,   Neg. LLF: 2235.916947791331
Iteration:      8,   Func. Count:     46,   Neg. LLF: 2235.773948182082
Iteration:      9,   Func. Count:     51,   Neg. LLF: 2235.7115028617236
Iteration:     10,   Func. Count:     56,   Neg. LLF: 2235.6702218431446
Iteration:     11,   Func. Count:     61,   Neg. LLF: 2235.6618735964034
Iteration:     12,   Func. Count:     66,   Neg. LLF: 2235.6617464180326
Iteration:     13,   Func. Count:     71,   Neg. LLF: 2235.6617420915827
Iteration:     14,   Func. Count:     75,   Neg. LLF: 2235.661742091584
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2235.6617420915827
            Iterations: 14
            Function evaluations: 75
            Gradient evaluations: 14
Iteration:      1,   Func. Count:      6,   Neg. LLF: 67190.51896824589
Iteration:      2,   Func. Count:     13,   Neg. LLF: 2355.3578386803015
Iteration:      3,   Func. Count:     19,   Neg. LLF: 2376.0629792676677
Iteration:      4,   Func. Count:     26,   Neg. LLF: 2305.81131795725
Iteration:      5,   Func. Count:     31,   Neg. LLF: 2304.471138694958
Iteration:      6,   Func. Count:     36,   Neg. LLF: 2303.810208440775
Iteration:      7,   Func. Count:     41,   Neg. LLF: 2303.668819536361
Iteration:      8,   Func. Count:     46,   Neg. LLF: 2303.6548397188444
Iteration:      9,   Func. Count:     51,   Neg. LLF: 2303.6541061027665
Iteration:     10,   Func. Count:     56,   Neg. LLF: 2303.6530586175713
Iteration:     11,   Func. Count:     61,   Neg. LLF: 2303.6506361170023
Iteration:     12,   Func. Count:     66,   Neg. LLF: 2303.648743811512
Iteration:     13,   Func. Count:     71,   Neg. LLF: 2303.6474450751807
Iteration:     14,   Func. Count:     76,   Neg. LLF: 2303.647354138898
Iteration:     15,   Func. Count:     81,   Neg. LLF: 2303.6473441434855
Iteration:     16,   Func. Count:     85,   Neg. LLF: 2303.6473441434837
Optimization terminated successfully    (Exit mode 0)
            Current function value: 2303.6473441434855
            Iterations: 16
            Function evaluations: 85
            Gradient evaluations: 16

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
date_time,,,,,,,,
2023-11-23,2023-11-22,DAX,1 day,-2.885117,-0.539093,0.043883,0.670234,2.484393
2023-11-24,2023-11-22,DAX,2 day,-3.387728,-0.735238,0.079226,0.869536,3.130853
2023-11-27,2023-11-22,DAX,5 day,-4.491928,-0.872108,0.163694,1.151815,4.139271
2023-11-28,2023-11-22,DAX,6 day,-5.276806,-1.032425,0.160613,1.396501,4.517212
2023-11-29,2023-11-22,DAX,7 day,-5.683244,-1.106707,0.261510,1.491565,5.068495

In [11]:
from datetime import datetime
import pandas as pd 

weeks = ['0 week', '1 week', '2 week', '3 week', '4 week']
date_st = (datetime.today().strftime('%Y-%m-%d'))

df_sub_inf = pd.DataFrame({
    "forecast_date": date_st,
    "target": "infections",
    "horizon": weeks,
    "q0.025": np.nan,
    "q0.25": np.nan,
    "q0.5": np.nan,
    "q0.75": np.nan,
    "q0.975": np.nan})

In [12]:
submission_frame = pd.merge(df_sub_dax, energy_forecasts_combined, how='outer')
submission_frame = pd.merge(submission_frame, df_sub_inf, how='outer')

In [15]:
submission_frame = submission_frame.drop(columns={'date_time'})

KeyError: "['date_time'] not found in axis"

In [18]:
submission_frame

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-11-22,DAX,1 day,-2.885117,-0.539093,0.043883,0.670234,2.484393
1,2023-11-22,DAX,2 day,-3.387728,-0.735238,0.079226,0.869536,3.130853
2,2023-11-22,DAX,5 day,-4.491928,-0.872108,0.163694,1.151815,4.139271
3,2023-11-22,DAX,6 day,-5.276806,-1.032425,0.160613,1.396501,4.517212
4,2023-11-22,DAX,7 day,-5.683244,-1.106707,0.261510,1.491565,5.068495
5,2023-11-29,energy,36 hour,50.136784,59.921036,66.873869,71.630202,80.394829
6,2023-11-29,energy,40 hour,47.688934,58.511046,64.927527,70.083383,79.159619
7,2023-11-29,energy,44 hour,43.898750,55.132000,62.369188,66.619250,72.038999
8,2023-11-29,energy,60 hour,31.234625,33.523500,42.579764,44.741250,45.100375
9,2023-11-29,energy,64 hour,29.477625,33.266500,39.916514,42.125000,44.352125
10,2023-11-29,energy,68 hour,29.343625,31.550750,36.499829,37.742750,39.628625
11,2023-11-29,infections,0 week,NaN,NaN,NaN,NaN,NaN
12,2023-11-29,infections,1 week,NaN,NaN,NaN,NaN,NaN
13,2023-11-29,infections,2 week,NaN,NaN,NaN,NaN,NaN
14,2023-11-29,infections,3 week,NaN,NaN,NaN,NaN,NaN
15,2023-11-29,infections,4 week,NaN,NaN,NaN,NaN,NaN

In [19]:
date_string = date_st
date_obj = datetime.strptime(date_string, "%Y-%m-%d")
formatted_date = date_obj.strftime("%Y%m%d")

submission_frame.to_csv(
    str('C:/Users/Maria/Documents/Studium/Pyhton Projekte/PTSFC/submission_files/' +
        formatted_date + '_BrienneVonTarth'),
    index=False, na_rep="NA")